// namespace
$ns = ".epm";
// divider between block and element
$d-be = "_";
// divider between block/element and modifier
$d-bm = "_";

// is enable flex
$enable-flex = false;



// 目前项目里面的代码混杂，需要重新梳理，可以考虑flex的单独写，或者默认可用flex，其他做兼容
// $enable-flex = false;
